.customGallery {
    min-width: 1000px;
    /* max-width: 1000px; */
    min-height: 550px;
    max-height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 0px;
    gap: 40px;
    transform: scale(1.1);
}

@media (max-width: 1324px) {
    .customGallery {
        display: none;
    }

}

@media (min-width: 1324px) {
    .col-lg-12 {
        display: none;
    }
}



.gallery1 {
    max-width: 16%;
    min-width: 16%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery1 div {
    margin-left: auto;
}

.gallery2 {
    max-width: 36%;
    min-width: 36%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery3 {
    max-width: 36%;
    min-width: 36%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgContainer {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.imgContainer img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.line21 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.line22 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.line31 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
}

.line32 {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.line33 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
}